<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<form class="form-horizontal">
    <fieldset>
        <div class="panel panel-primary" background-color= "#96cbec" >
            <div class="panel-heading" >
                Lista de Usuários
            </div>
        </div>
    </fieldset>
</form>


<body>
<table>
    <thead class=".poscentralized">
    <tr>
    <th scope="col">Admin</th>
    <th scope="col">Email</th>
    <th scope="col">Id</th>
    <th scope="col">Login</th>
    <th scope="col">Nome</th>
    <th scope="col"></th>
    <th scope="col"></th>
    </tr>
    </thead>

<tbody>
        <!--
        <tr *ngFor="let user of responseUsers.data">
        <th scope="row" text-align="center">{{user.admin}}</th>
        <td>{{user.email}}</td>
        <td>{{user.id}}</td>
        <td>{{user.login}}</td>
        <td>{{user.nome}}</td>
        <td><a routerLink="/users/update/id"> Editar</a></td>
        <td><a routerLink="/users/delete/id"> Remover</a></td>
        </tr>
        -->
        <tr>
            <th scope="row" text-align="center">false</th>
            <td>jessyca@gmail.com</td>
            <td>2</td>
            <td>jessycamv</td>
            <td>jessyca viana</td>
            <td><a routerLink="/users/update/id"> Editar</a></td>
            <td><a routerLink="/users/delete/id"> Remover</a></td>
        </tr>
        
        <tr>
            <th scope="row" text-align="center">false</th>
            <td>rodrigoviana50@gmail.com</td>
            <td>1</td>
            <td>RodrigoMV</td>
            <td>rodrigo de melo</td>
            <td><a routerLink="/users/update/id"> Editar</a></td>
            <td><a routerLink="/users/delete/id"> Remover</a></td>
        </tr>
        <tr>
            <th scope="row" text-align="center">true</th>
            <td>luiz@gmail.com</td>
            <td>3</td>
            <td>luizf</td>
            <td>luiz fernando</td>
            <td><a routerLink="/users/update/id"> Editar</a></td>
            <td><a routerLink="/users/delete/id"> Remover</a></td>
        </tr>            
</tbody>
</table>
</body>

