<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<head></head>
<body>

<form class="form-horizontal">
<fieldset>
<div class="panel panel-primary" >
    <div class="panel-heading" ><strong>Deseja remover este usuário?</strong>
    </div>
        <div class="panel-body" ng-if="user">
            
            <div class="form-group" text-align="center">
                <label class="col-md-2 control-label" for="prependedtext">Email: <strong>rodrigoviana50@gmai.com</strong> </label>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="vinculo">Login: <strong>RodrigoMV</strong> </label>  
            </div> 
            
            <div class="form-group">
                <label class="col-md-2 control-label" for="Nome">Nome: <strong> Rodrigo de melo viana </strong></label>  
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="vinculo">Senha: <strong>123456 </strong></label>  
            </div> 
        



            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button id="Cadastrar" name="Cadastrar" type="Submit" (click)="delete()">Confirmar</button> &nbsp; 
                        <button id="Cadastrar" name="Cadastrar" type="Submit" (click)="cancel()">Cancelar</button>
                    </div>
            </div>
        </div>
</div>


</fieldset>
</form>

</body>
