<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<head></head>
<body>

<form class="form-horizontal">
<fieldset>
<div class="panel panel-primary">
    <div class="panel-heading" ><strong>Atualizar Usuário</strong>
    </div>
        <div class="panel-body" ng-if="request">
            
            <div class="form-group">
                <label class="col-md-2 control-label" for="prependedtext">Email </label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="email@email.com" [(ngModel)]="request.email" >
                        </div>
                    </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="vinculo">Login </label>  
                    <div class="col-md-2">
                <input id="vinculo" name="vinculo" placeholder="" class="form-control input-md" [(ngModel)]="request.login">
                    </div>    
            </div> 
            
            <div class="form-group">
                <label class="col-md-2 control-label" for="Nome">Nome </label>  
                <div class="col-md-8">
                <input id="Nome" name="Nome" placeholder="" class="form-control input-md" [(ngModel)]="request.nome">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="vinculo">Senha </label>  
                    <div class="col-md-2">
                <input id="vinculo" name="vinculo" placeholder="" class="form-control input-md" [(ngModel)]="request.senha">
                    </div>    
            </div> 




            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button id="Cadastrar" name="Cadastrar" type="Submit" (click)="update()">Atualizar</button>
                    </div>
            </div>
        </div>
</div>


</fieldset>
</form>

</body>
