<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul>
          <li> <a routerLink="/users">Lista de Usuários</a></li>
          <li> <a routerLink="/users/create">Criar de Usuários</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>      


<div>
<router-outlet></router-outlet>
</div>